<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blood Book Main</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/09e4a0ac00.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'blood/fmain.css '%}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
{% block content %}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{% url 'blood:index' %}" class="navbar-brand"><i class="fa fa-tint" aria-hidden="true"></i> Blood Book</a>
			</div>
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'blood:request' %}">Request Blood</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'blood:signup_donor' %}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
						Sign Up As Donor
						</a>
					</li>
					<li><a href="{% url 'blood:signup_hospital' %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
						Sign Up As Hospital
						</a>
					</li>

					<li><a href="{% url 'blood:login' %}">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
						Login
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h2>Search Blood Donors</h2>
			<form class="form-inline search">
  				<div class="form-group">
      				<label>Blood Group</label>
      				<select id="Select" class="form-control">
        				<option>Blood Group</option>
        				<option>A+</option>
        				<option>B+</option>
        				<option>AB+</option>
        				<option>O+</option>
        				<option>A-</option>
        				<option>B-</option>
        				<option>AB-</option>
        				<option>O-</option>
      				</select>
    			</div>
  				<div class="form-group">
    				<label >City</label>
    				<input type="text" class="form-control" id="exampleInputName2" placeholder="City">
  				</div>
  				<button type="submit" class="btn btn-default">Search</button>
			</form>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
	<div class="thumbnail">
		<h3 class="mid">Blood Requests</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Blood Group</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>




			{% block body %}
				{% for requests in blood_request %}
					<tr>
						<td>{{ requests.name }}</td>
						<td>{{ requests.blood_group }}</td>
						<td>{{ requests.date }}</td>
					</tr>
				{% endfor %}
			{% endblock %}


			<!--
				<tr>
					<td>abc</td>
					<td>A+</td>
					<td>15-09-2017</td>
				</tr>
			-->



			</tbody>
		</table>
	</div>
	</div>
	<div class="col-lg-4 col-md-4">
	<div class="thumbnail">
		<h3 class="mid">Recent Donors</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Blood Group</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>bcd</td>
					<td>B+</td>
					<td>09-09-2017</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="col-lg-4 col-md-4">
	<div class="thumbnail">
		<h3 class="mid">Upcoming Blood Donation Camps</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Hospital</th>
					<th>City</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>xyz</td>
					<td>Patiala</td>
					<td>20-09-2017</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
{% endblock %}
</body>
</html>